---
import Layout from '../layouts/Layout.astro';
import { ghostClient } from '../lib/ghost';
const posts = await ghostClient.posts
    .browse({
        limit: 'all',
    })
    .catch((err) => {
        console.error(err);
    });
---
<Layout title='Kierankelly.net'>
	{
		posts.map((post) => (
			<a href={`/post/${post.slug}`}>
				<h1> {post.title} </h1>
			</a>
		))
	}
</Layout>