---
// You can import your assets and define states here
// Importing the SVG logo might depend on how your project is set up.
---

<footer class="site-footer outer">
    <div class="inner">
        <section class="copyright"><a href="#">kierankelly.net</a> © 2024</section>
        <nav class="site-footer-nav">
            
        </nav>
        <div class="gh-powered-by"><a href="#" target="_blank" rel="noopener">Adapted from Ghost</a></div>
    </div>
</footer>