---
// Define the interface for the props this layout will accept
interface Props {
    title: string;
    includeFooter?: boolean;
    includeLightbox?: boolean;
    includeCardsCss?: boolean;  // New prop for including cards.css
    bodyClass?: string;
}

import Header_v2 from '../components/Header_v2.astro';
import Lightbox from '../components/Lightbox.astro';
import Footer from '../components/Footer.astro';

// Extract props with default values
const { title, includeFooter = true, includeLightbox = true, includeCardsCss = true, bodyClass = '' } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/screen.css" />
        {includeCardsCss && <link rel="stylesheet" href="/css/cards.css" />}
    </head>
    <body class={bodyClass}>
        <div class="viewport">
            <Header_v2 />
            <slot />
            {includeFooter && <Footer />}
        </div>
        {includeLightbox && <Lightbox />}
    </body>
</html>
